<!--
 <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">HappyPolls</a>
     
       <ul class="right hide-on-med-and-down">
        <li><a href="#">Log In</a></li>
      </ul>
       <ul class="right hide-on-med-and-down">
        <li><a href="#">Sign Up</a></li>
      </ul>
       <ul class="right hide-on-med-and-down">
        <li><a href="/create">Create Poll</a></li>
      </ul>

      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>-->
  <!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title" href="/">Happy Polls</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="/answer">Answer Polls</a>
        <a class="mdl-navigation__link" href="/create">Create Polls</a>
        <a class="mdl-navigation__link" href="/login">Log In</a>
        <a class="mdl-navigation__link" href="/newuser">Sign Up</a>
      </nav>
    </div>
  </header>
</div>