<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

<script type="text/javascript" src="/js/create.js"></script>

<br>
<br>
<br>
<br>

<!-- Question -->
	<form action="submitPoll">
  		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  		
    		<input class="mdl-textfield__input" type="text" id="question">
    		<label class="mdl-textfield__label" for="question">Question</label>
    		
  		</div>


<!-- 1029384756 -->
<!-- Square card -->
<style>
.demo-card-square.mdl-card {
  width: 320px;
  height: 220px;
  display: inline-block;
  margin: 20px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
}
</style>

<br>

<div class="demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
    <h2 class="mdl-card__title-text">Answer One</h2>
  </div>
<div class="mdl-card__supporting-text">
   <!-- Answers -->
    <div class="mdl-textfield mdl-js-textfield">
      <input class="mdl-textfield__input" type="text" id="answer1">
      <label class="mdl-textfield__label" for="sample1"></label>
    </div>
  </div>
  
</div>

<div class="demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
    <h2 class="mdl-card__title-text">Answer Two</h2>
  </div>
  <div class="mdl-card__supporting-text">
   <!-- Answers -->
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" id="answer2">
    <label class="mdl-textfield__label" for="sample1"></label>
  </div>
  </div>
  
</div>

<br>

<div class="demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
    <h2 class="mdl-card__title-text">Answer Three</h2>
  </div>
  <div class="mdl-card__supporting-text">
   <!-- Answers -->
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" id="answer3">
    <label class="mdl-textfield__label" for="sample1"></label>
  </div>
  </div>

</div>

<div class="demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
    <h2 class="mdl-card__title-text">Answer Four</h2>
  </div>
  <div class="mdl-card__supporting-text">
   <!-- Answers -->
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" id="answer4">
    <label class="mdl-textfield__label" for="sample1"></label>
  </div>
  </div>
  
</div>

<br>

	

	   <div class="row center">
        <a href="/answer" id="submit-button" class="btn-large waves-effect waves-light orange">Create Poll</a>
    </div>

  </form>