<head>	

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<div>

<div class="icon-preview col s6 m3"><i class="material-icons dp48">Attention!</i><span>error_outline</span></div>


You do not have sufficient happiness levels to access this content. To improve your happiness, try following this advice: {{message}}
</div>
