<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
<script type="text/javascript" src="/js/newuser.js"></script>
</head>
<body>

<br>
<br>
<br>
<br>
<br>

<!-- Simple Textfield -->
<form action="#">
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" id="username">
    <label class="mdl-textfield__label" for="sample1">Username</label>
  </div>
<br>
<!-- Simple Textfield -->
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" id="password">
    <label class="mdl-textfield__label" for="sample1">Password</label>
  </div>
<br>
<!-- Simple Textfield -->
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" id="email">
    <label class="mdl-textfield__label" for="sample1">Email</label>
  </div>
<br>

<button class="mdl-button mdl-js-button mdl-button--raised" id="submit">
  Register Account
</button>

</form>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

</body>